body{
  background-color: teal;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

div{
  display: inline-block;
  text-align: center;
  width: auto;
}

img{
  width: 300px;
}

h1{
  font-size: 80px;
  color: orange;
}

h2{
  text-decoration: underline;
}

p{
  font-size:30px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

button{
  width: 200px;
  height: 60px;
  border-radius: 25px;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  background-color: blue;
  border: none;
}
